In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.tail(4)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [12]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие мои предобработки колонок:
data['profit'] = data.apply(lambda p: p['revenue'] - p['budget'], axis=1) # Колонка Profit для некоторых заданий ниже

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [70]:

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# "+"

In [86]:
# тут пишем ваш код для решения данного вопроса:
expesive_film = data[(data.budget == data.budget.max())]
expesive_film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [71]:
answers['2'] = 'Gods and Generals (tt0279111)'
# "+"

In [27]:
longest_film = data[(data.runtime == data.runtime.max())]
longest_film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [72]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# "+"

In [29]:
shortest_film = data[(data.runtime == data.runtime.min())]
shortest_film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [73]:
answers['4'] = '110'
# "+"

In [37]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [74]:
answers['5'] = '107'
# "+"

In [38]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [75]:
answers['6'] = 'Avatar (tt0499549)'
# "+"

In [7]:

most_profitable = data[(data.profit == data.profit.max())]
most_profitable

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [76]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# "+"

In [11]:

most_unprofitable = data[(data.profit == data.profit.min())]
most_unprofitable

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [77]:
answers['8'] = '1478'
# "+"

In [12]:

data[(data.profit > 0)].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [78]:
answers['9'] = 'The Dark Knight (tt0468569)'
# "+"

In [24]:

zero_eight = data[(data.release_year == 2008)]

most_zero_eight = zero_eight[(zero_eight.profit == zero_eight.profit.max())]
most_zero_eight

816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [79]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# "+"

In [21]:

twelve_fourteen = data[(data.release_year >= 2012) & (data.release_year <= 2014)]

worst_twelve_fourteen = twelve_fourteen[(twelve_fourteen.profit == twelve_fourteen.profit.min())]
worst_twelve_fourteen

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [80]:
answers['11'] = 'Drama'
# "+"

In [49]:
data_g = data.copy()                            # Копия дата сета
data_g.genres = data_g['genres'].str.split('|') # Делаем список в каждой ячейке колонки жанры

import collections
quant_genres = collections.Counter()

for list_g in data_g['genres']: # Обращамся к спискам в ячейках колонки жанры
    for genre in list_g:        # Обращаемся к элементам каждого списка
        quant_genres[genre]+=1 
print(quant_genres)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [81]:
answers['12'] = 'Drama'
# "+"

In [51]:
data_gp = data.copy()                             # Копия дата сета
data_gp = data_gp[data_gp['profit'] > 0]          # Отсеиваем убыточные фильмы
data_gp.genres = data_gp['genres'].str.split('|') # Делаем список в каждой ячейке колонки жанры

import collections
quant_gp = collections.Counter()

for list_gp in data_gp['genres']: # Обращамся к спискам в ячейках колонки жанры
    for genre in list_gp:         # Обращаемся к элементам каждого списка
        quant_gp[genre]+=1 
print(quant_gp)

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [82]:
answers['13'] = 'Peter Jackson'
# "+"

In [96]:
data_dm = data.copy()                                 
data_dm.director = data_dm['director'].str.split('|') # Делаем список в каждой ячейке колонки режиссер

s = data_dm.explode('director') # Преобразуем элементы списка в 'director' в отдельные строки с этими элементами
s.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [83]:
answers['14'] = 'Robert Rodriguez'
# "+"

In [19]:
data_da = data.copy()                                 
data_da.director = data_da['director'].str.split('|') # Делаем список в каждой ячейке колонки режиссер

s = data_da.explode('director')
d = s[s.genres.str.contains('Action')] # Оставляем в датафрейме только строчки содержащие 'Action' в колонке 'genres'
d.groupby(['director'])['genres'].count().sort_values(ascending=False)

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: genres, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [84]:
answers['15'] = 'Chris Hemsworth'
# "+"

In [20]:
data_hr = data.copy()                                 
data_hr.cast = data_hr['cast'].str.split('|') # Делаем список в каждой ячейке колонки 'cast'

data_e = data_hr.explode('cast')
data_tw = data_e[data_e['release_year'] == 2012]
data_tw.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [85]:
answers['16'] = 'Matt Damon'
# "+"

In [5]:
data_ae = data.copy()                                 
data_ae.cast = data_ae['cast'].str.split('|') # Делаем список в каждой ячейке колонки 'cast'
data_e = data_ae.explode('cast')

data_a = data_e[data_e['budget'] > data_ae.budget.mean() ] # Датафрейм с фильмами с бюджетом выше среднего
data_a.groupby(['cast'])['imdb_id'].count().sort_values(ascending=False)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: imdb_id, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [86]:
answers['17'] = 'Action'
# "+"

In [16]:
data_nc = data.copy()                                 
data_nc.genres = data_nc['genres'].str.split('|') # Делаем список в каждой ячейке колонки 'genres'
data_e = data_nc.explode('genres')

data_ncf = data_e[data_e.cast.str.contains('Nicolas Cage')] # Оставляем в датафрейме только строчки содержащие 'Nicolas Cage' в колонке 'genres'
data_ncf.groupby(['genres'])['cast'].count().sort_values(ascending=False)

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: cast, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [87]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# "+"

In [46]:
data_pp = data.copy()
data_fail = data_pp[data_pp.production_companies.str.contains('Paramount Pictures')] # Оставляем строки только с парамаунт пик

data_fail[data_fail['profit'] == data_fail['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [88]:
answers['19'] = '2015'
# "+"

In [33]:
data_ys = data.copy()
data_ys.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [89]:
answers['20'] = '2014'
# "+"

In [42]:
data_wb = data.copy()
data_succ = data_wb[data_pp.production_companies.str.contains('Warner Bros')] # Оставляем строки только с Уорнер браз

data_succ.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [90]:
answers['21'] = 'сентябрь'
# "+"

In [10]:
data_qm = data.copy()
data_qm.release_date = data_qm['release_date'].str.split('/', expand = True)

"""Не понимаю как работает этот экспанд=тру. В документации показано как все элементы разделенные разделителем расширяются по 
разным колонкам, тут же остается только первый из разделенных. У коллег в слаке это было описывемой проблемой, я же эту 
особенность применил для данной задачи. Хотя хочется все таки разобраться с expand = True""" 

def months(x):                           # Не знаю зачем этот монстр тут я бы и по циферкам соорентировался, но пусть будет
    if x == '1':
        return x.replace('1', 'январь')
    elif x == '2':
        return x.replace('2', 'февраль')
    elif x == '3':
        return x.replace('3', 'март')
    elif x == '4':
        return x.replace('4', 'апрель')
    elif x == '5':
        return x.replace('5', 'май')
    elif x == '6':
        return x.replace('6', 'июнь')
    elif x == '7':
        return x.replace('7', 'июль')
    elif x == '8':
        return x.replace('8', 'август')
    elif x == '9':
        return x.replace('9', 'сентябрь')
    elif x == '10':
        return x.replace('10', 'октябрь')
    elif x == '11':
        return x.replace('11', 'ноябрь')   
    else:
        return x.replace('12', 'декабрь')
            
data_qm.release_date = data_qm.release_date.apply(months)

data_qm.groupby(['release_date'])['imdb_id'].count().sort_values(ascending=False)

release_date
сентябрь    227
декабрь     190
октябрь     186
август      161
март        156
апрель      149
июнь        147
ноябрь      146
июль        142
май         140
февраль     135
январь      110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [91]:
answers['22'] = '450'
# "+"

In [16]:
data_summer = data.copy()
data_summer.release_date = data_summer['release_date'].str.split('/', expand=True)

data_summer2 = data_summer.query('release_date in ["6", "7", "8"]') # Оставляем только летние месяцы (6-июнь, 7-июль, 8-август)
data_summer2.imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [92]:
answers['23'] = 'Peter Jackson'
# "+"

In [21]:
data_winter = data.copy()
data_winter.release_date = data_winter['release_date'].str.split('/', expand=True)

data_winter2 = data_winter.query('release_date in ["1", "2", "12"]') # Оставляем только зимние месяцы (1-январь, 2-февраль, 12-декабрь)
data_winter2.groupby(['director'])['imdb_id'].count().sort_values(ascending=False)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: imdb_id, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [93]:
answers['24'] = 'Four By Two Productions'
# "+"

In [30]:
data_long = data.copy()
data_long.production_companies = data_long['production_companies'].str.split('|')   # Делаем компании в колонках списками

data_long2 = data_long.explode('production_companies')              # Для каждого значения в списках в production_companies своя строка
data_long2.original_title = data_long2['original_title'].str.len()  # Заменяем названия фильмов количеством символов в названии
data_long2.groupby(['production_companies'])['original_title'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: original_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [94]:
answers['25'] = 'Midnight Picture Show'
# "+"

In [10]:
data_ov = data.copy()
data_ov.production_companies = data_ov['production_companies'].str.split('|')   # Делаем компании в колонках списками
data_ov2 = data_ov.explode('production_companies')     # Для каждого значения в списках в production_companies своя строка

data_ov2.overview = data_ov2['overview'].str.split(' ') # Делаем описания фильмов списками из отдельных слов
data_ov2.overview = data_ov2['overview'].str.len()      # Считаем количество элементов (слов описания) в списках overview
data_ov2.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [95]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [26]:
data.info() # Простите решаю в тупую. Из описания ясно что фильмов в дата сете 1889, т.е. 1% это 19 фильмов
hells_angels = data.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False) # Группируем фильмы с оценками по убыванию
"""Предыдущую строчку наверное можно реализовать иначе, но мозгов уже не хватает"""

hells_angels.head(19) # Выводим список 1% лучших фильмов, т.е. в данном случае 19

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 221.5+ KB

original_title
The Dark Knight                                      8.1
The Imitation Game                                   8.0
Inside Out                                           8.0
Interstellar                                         8.0
Room                                                 8.0
The Grand Budapest Hotel                             7.9
The Pianist                                          7.9
Guardians of the Galaxy                              7.9
Memento                                              7.9
The Wolf of Wall Street                              7.9
Inception                                            7.9
Gone Girl                                            7.9
12 Years a Slave                                     7.9
The Lord of the Rings: The Return of the King        7.9
Prisoners                                            7.8
The Fault in Our Stars                               7.8
Eternal Sunshine of the Spotless Mind                7.8
The Prestige                                         7.8
The Lord of the Rings: The Fellowship of the Ring    7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [96]:
answers['27'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [69]:
data_couple = data.copy()                                 
data_couple.cast = data_couple['cast'].str.split('|') # Делаем список в каждой ячейке колонки 'cast'

from itertools import combinations
d = []                                          # Создаем список для записи пар актеров
for actors in data_couple['cast']:
    d.append(list(combinations(actors, 2)))     # Добавляем в список d списки с парами актеров 

f = pd.Series(d)        # Создаем серию где каждому индексу соответствует список с парами актеров из одного фильма
k = f.explode()         # Преобразуем список так чтоб каждому индексу соответствовала одна пара актеров       
k.value_counts()        # Считаем количество всех пар

(Daniel Radcliffe, Rupert Grint)          8
(Daniel Radcliffe, Emma Watson)           8
(Rupert Grint, Emma Watson)               7
(Johnny Depp, Helena Bonham Carter)       6
(Ben Stiller, Owen Wilson)                6
                                         ..
(Linda Cardellini, Hannibal Buress)       1
(Domhnall Gleeson, Corey Johnson)         1
(Zach Galifianakis, Michelle Monaghan)    1
(Abbie Cornish, Jackie Earle Haley)       1
(Dejan Angelov, Ed Harris)                1
Length: 18121, dtype: int64

# Submission

In [98]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '27': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [99]:
# и убедиться что ни чего не пропустил)
len(answers)

27